/* reusable classes */

.flex {
  display: flex;
}

.flex-c {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.b-box {
  box-sizing: border-box;
}

.gap-15 {
  gap: 15px;
}

.p-15 {
  padding: 15px;
}

/* css proper */

html, body, #app {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  color: whitesmoke;
}

body {
  background: url('./assets/images/StarrySky.jpg') no-repeat center center fixed;
  background-size: cover;
}

header {
  font-size: 50px;
  font-weight: bold;
}

.Scoreboard {
  font-size: 32px;
}

#display {
  overflow: auto;
  width: 95%;
  box-shadow: 0px 0px 5px 5px black;
  margin: 5% 0;
}

#display img {
  display: inline-block;
}

@media (max-width: 768px) {
  #top {
    flex-direction: column;
  }

  header {
    text-align: center;
  }
}