/* reusable classes */

.flex {
  display: flex;
}

.flex-c {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.b-box {
  box-sizing: border-box;
}

.gap-15 {
  gap: 15px;
}

.p-15 {
  padding: 15px;
}

/* css proper */

html, body, #app {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  color: whitesmoke;
}

body {
  background-image: url('./assets/images/StarrySky.jpg');
  background-size: cover;
}

header {
  font-size: 50px;
  font-weight: bold;
}

.Scoreboard {
  font-size: 32px;
}